<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/02e07dd2-8199-4994-a156-fcb7a91a276b/resourceGroups/dpa-app/providers/Microsoft.Web/sites/DPAApi</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://dpaapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>dpaapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DPAApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DPAApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>